<body class="text-center">
<section class="jumbotron text-center">
    <div class="container">
    
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="jumbotron-heading">Welcome to The Buy Nothing Project</h1>
      <p class="lead text-muted">Give. Share. Build Community.</p>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <form class="form-signin">
      <label for="username" class="sr-only">username</label>
      <input type="username" id="inputEmail" class="form-control" placeholder="username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>


      <a href="/login" class="btn btn-primary my-2 btn-block" type="submit" data-method="post">Login</a>
      <a href="/signup" class="btn btn-secondary my-2 btn-block" >Signup</a>
      </form>

      <p class="mt-5 mb-3 text-muted"><div class="container text-center">

        <p class="lead text-muted">Are you a Buy Nothing Adminstrator?
        <a href="groups/new" class="btn btn-light my-2">Register A Group</a>
        </p>
      </div></p>

    
    </div>
    </section>
  </body>