<div class="container">
  <div class="card-deck text-center">
    <% @groups.each do |group|%>
      <%= render partial: "card", locals: {group: group, path: "groups/" } %>
    <%end%>
  </div>
</div>