<body class="text-center">
<section class="jumbotron text-center">
    <div class="container">
    
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="jumbotron-heading">Welcome to The Buy Nothing Project</h1>
      <p class="lead text-muted">Give. Share. Build Community.</p>
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <%= bootstrap_form_for @member, url: login_path, class: 'login' do |f| %>
      <div class="form container">
          <%= f.text_field :username %>
          <%= f.submit "Log In"  %>
        </div>
      <% end %>
      <a href="/signup" class="btn btn-secondary my-2" >Signup</a>

      <p class="mt-5 mb-3 text-muted"><div class="container text-center">

        <p class="lead text-muted">Are you a Buy Nothing Adminstrator?
        <a href="groups/new" class="btn btn-light my-2">Register A Group</a>
        </p>
      </div></p>

    
    </div>
    </section>
  </body>